.container {
    width: 25%;
    margin: auto;
    border: 5px solid black;
    aspect-ratio: 1/1;
}

.row {
    display: flex;
    justify-content: stretch;
}

.square {
    aspect-ratio: 1/1;
    flex: 1 1 0;
}

.painted {
    background-color: red;
}

.btn {
    margin: auto;
}

.btn-container {
    text-align: center;
    margin: 10px;
}