.container {
    width: 25%;
    margin: auto;
}
.row {
    display: flex;
    justify-content: stretch;
}

.square {
    border: 2px solid red;
    aspect-ratio: 1/1;
    flex: 1 1 0;
}

.painted {
    background-color: red;
}